In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("fraud_detection.csv")
df.head()

,transaction_id,amount,transaction_type,merchant,location,device_type,browser,is_fraud
0,1,1873.33,pos,Myntra,Chennai,iOS,Safari,0
1,2,4753.62,upi,Myntra,Delhi,Android,Firefox,0
2,3,3660.24,online,Myntra,Chennai,iOS,Chrome,0
3,4,2993.69,online,Flipkart,Unknown,Web,Chrome,0
4,5,780.94,online,Unknown,Unknown,Web,Chrome,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    500 non-null    int64
 1   amount            500 non-null    float64
 2   transaction_type  500 non-null    object
 3   merchant          500 non-null    object
 4   location          500 non-null    object
 5   device_type       500 non-null    object
 6   browser           500 non-null    object
 7   is_fraud          500 non-null    int64
dtypes: float64(1), int64(2), object(5)
memory usage: 31.4+ KB

In [8]:

df.describe()

       transaction_id       amount    is_fraud
count      500.000000   500.000000  500.000000
mean       250.500000  2493.309960    0.038000
std        144.481833  1493.143176    0.191388
min          1.000000    26.300000    0.000000
25%        125.750000  1207.157500    0.000000
50%        250.500000  2566.305000    0.000000
75%        375.250000  3780.867500    0.000000
max        500.000000  4964.830000    1.000000

In [9]:

df.isnull().sum()

transaction_id      0
amount              0
transaction_type    0
merchant            0
location            0
device_type         0
browser             0
is_fraud            0
dtype: int64

In [10]:

df.duplicated().sum()

np.int64(0)

In [13]:
df.dropna(thresh=0.7*len(df), axis=1, inplace=True)

In [14]:
df.drop_duplicates(inplace=True)